{% extends "base.html" %}
{% block contenido %}
{% load tiene_rol_en %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ titulo }}</h1>
        </div>
        <div>
            {% tiene_permiso_en_proyecto user 'pro_cargarUSalBacklog' proyecto as pro_cargarUSalBacklog %}
            {% if pro_cargarUSalBacklog and esBacklog %}
                <a href="{% url 'crearhistoriaUsuario' proyecto.id %}" class="btn btn-primary">Agregar US al Product Backlog</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Etapa</th>
                    <th>User Points</th>
                    <th>Business Value</th>
                    <th>Usuario</th>
                    {% if esBacklog %}
                        <th>Acciones</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for historia in historias %}
                <tr>
                    <th>{{ historia.id }}</th>
                    <td>{{ historia.nombre }}</td>
                    <td>{{ historia.etapa }}</td>
                    <td>{{ historia.up }}</td>
                    <td>{{ historia.bv }}</td>
                    <td>{{ historia.usuarioAsignado }}</td>
                    <td>
                        {% if historia.estado == historia.Estado.ACTIVO %}

                            <button type="button" class="btn btn-link" data-bs-toggle="modal"
                                data-bs-target="#modalVer{{ historia.id }}"><span 
                                class="material-icons">visibility</span>
                            </button>

                            {% tiene_permiso_en_proyecto user 'pro_modificarUS' proyecto as pro_modificarUS %}
                            {% if pro_modificarUS %}
                                <a href="{% url 'editar_historiaUsuario' proyecto.id historia.id %}" class="btn btn-link"><span 
                                class="material-icons">create</span></a>
                            {% endif %}

                            {% tiene_permiso_en_proyecto user 'pro_cancelarUS' proyecto as pro_cancelarUS %}
                            {% if pro_cancelarUS %}
                                <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#modal{{ historia.id }}"><span class="material-icons">delete</span></button>
                            {% endif %}

                            <a href="{% url 'comentarios_historiaUsuario' proyecto.id historia.id %}" class="btn btn-link"><span 
                                class="material-icons">comment</span></a>
                                <a href="{% url 'restaurar_historia_historial' proyecto.id historia.id %}" class="btn btn-link"><span 
                                    class="material-icons">history</span></a>
                            <a href="{% url 'ver_archivos' proyecto.id historia.id %}" class="btn btn-link"><span 
                                class="material-icons">description</span></a>
                                {% tiene_rol_en_proyecto user 'Scrum Master' proyecto as master %}
                            {% if master or historia.usuarioAsignado == user %}
                                <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#modalEtapa{{ historia.id }}"><span class="material-icons">arrow_forward</span></button>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
    </div>
    {% for historia in historias %}
        <!-- Modal -->
        <div class="modal fade" id="modal{{ historia.id }}" tabindex="-1" aria-labelledby="cancelarModal" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="cancelarModal">Estas seguro que desea cancelar?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>¿Esta a punto de cancelar la historia de usuario {{ historia.nombre }}, quiere continuar?</p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Abortar</button>
                <form method="post" action="{% url 'borrar_historiaUsuario' proyecto.id historia.id %}">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary" value="Continuar">
                    <input type="hidden" name="url" value="{{ request.path }}">
                </form>
                </div>
            </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="modalVer{{ historia.id }}" tabindex="-1" aria-labelledby="verModal"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="verModal">{{ historia.nombre }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>{{ historia.descripcion }}</p>
                    <p>Creado: {{ historia.fecha_creacion }}</p>
                    {% if historia.fechar_modificacion %}
                    <p>Modificado: {{ historia.fechar_modificacion }}</p>
                    {% endif %}
                    <p>Etapa: {{ historia.etapa.nombre }}</p>
                    <p>Encargado: {{ historia.usuarioAsignado.get_full_name }}</p>
                    <p>
                        {% if historia.comentarios.count > 0 %}
                            {{ historia.comentarios.count}} comentarios
                        {% else %}
                            No hay comentarios
                        {% endif %}
                    <p>Encargado: {{ historia.usuarioAsignado }}</p>
                    <p>
                        {% if historia.archivos.count > 0 %}
                            {{ historia.archivos.count}} archivos
                        {% else %}
                            No hay archivos
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->

    <!-- Modal -->
    <div class="modal fade" id="modalEtapa{{ historia.id }}" tabindex="-1" aria-labelledby="etapaModal" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="etapaModal">Estas seguro que desea mover a la siguente etapa?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Esta seguro que desea mover {{ historia.nombre }} a la etapa {% siguente_etapa historia %}?</p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abortar</button>
            <form method="post" action="{% url 'config_historias_usuario' proyecto.id historia.id %}">
                {% csrf_token %}
                <input type="hidden" name="url" value="{{ request.path }}">
                <input type="submit" class="btn btn-primary" value="Mover">
            </form>
            </div>
        </div>
        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}
