{% extends "base.html" %}
{% block title %}Comentarios de {{ historia.nombre }}{% endblock %}
{% block contenido %}
{% load gpa_tags %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Comentarios de '{{ historia.nombre }}'</h1>
        </div>
    </div>
    {% if proyecto.estado != 'Cancelado' and proyecto.estado != 'Finalizado'%}
    <div class="row">
        <div class="col-md-12">
            <form method="post">
                {% csrf_token %}
                {{ form.non_form_errors }}
                {{ form.as_p }}
                <input type="submit" class="btn btn-primary" value="Enviar comentario">
                <a href="{{ volver_a }}" class="btn btn-secondary">Volver</a>
            </form>
        </div>
    </div>
    {% else %}
        <a href="{{ volver_a }}" class="btn btn-secondary">Volver</a>
    {% endif %}
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Comentario</th>
                    <th>Usuario</th>
                </tr>
            </thead>
            <tbody>
                {% for comentario in comentarios %}
                <tr>
                    <td>{{ comentario.contenido }}</td>
                    <td>{{ comentario.usuario }}</td>
                </tr>
                {% endfor %}
            </tbody>
    </div>
</div>
{% endblock %}
