{% extends "base.html" %}
{% block title %}Historial US{% endblock %}
{% block contenido %}
{% load gpa_tags %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ titulo }}</h1>
        </div>
        <div>
            {% tiene_permiso_en_proyecto user 'pro_cargarUSalBacklog' proyecto as pro_cargarUSalBacklog %}
            {% if pro_cargarUSalBacklog and esBacklog %}
                <a href="{% url 'crearhistoriaUsuario' proyecto.id %}" class="btn btn-primary">Cargar US al product backlog</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Fecha creación</th>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>User Points</th>
                    <th>Business Value</th>
                    <th>Usuario</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for historia in versiones %}
                <tr>
                    <th>{{ historia.fecha_creacion|date:'Y-m-d H:i:s' }}</th>
                    <td>{{ historia.nombre }}</td>
                    <td>{{ historia.tipo }}</td>
                    <td>{{ historia.up }}</td>
                    <td>{{ historia.bv }}</td>
                    <td>{{ historia.usuarioAsignado.get_full_name }}</td>
                    <td>
                        <button type="button" class="btn btn-link" data-bs-toggle="modal"
                            data-bs-target="#modalVer{{ historia.id }}"><span 
                            class="material-icons" data-toggle="tooltip" data-placement="top" title="Ver descripción de historia">visibility</span>
                        </button>

                        {% tiene_rol_en_proyecto user 'Scrum Master' proyecto as master %}
                        {% if version_ori.estado == version_ori.Estado.ACTIVO %}
                            {% if master or version_ori.usuarioAsignado == user %}
                                <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#modal{{ historia.id }}"><span class="material-icons">history</span></button>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-12">
                <a href="{{ volver_a }}" class="btn btn-secondary">Volver</a>
            </div>
        </div>
    </div>
    {% for historia in versiones %}
        <!-- Modal -->
        <div class="modal fade" id="modal{{ historia.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Estas seguro que desea cancelar?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>¿Seguro que quiere restaurar version del {{ historia.fecha_modificacion|date:'Y-m-d H:i:s' }}?</p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abortar</button>
                <form method="post" action="{% url 'restaurar_historia_historial' proyecto.id version_ori.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="version" value="{{ historia.id }}">
                    <input type="submit" class="btn btn-danger" value="Restaurar">
                </form>
                
                </div>
            </div>
            </div>
        </div>
        
        <!-- Modal -->
        <div class="modal fade" id="modalVer{{ historia.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ historia.nombre }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>{{ historia.descripcion }}</p>
                        <p>Creado: {{ historia.fecha_creacion|date:'Y-m-d H:i:s'  }}</p>
                        {% if historia.fechar_modificacion %}
                        <p>Modificado: {{ historia.fechar_modificacion|date:'Y-m-d H:i:s'  }}</p>
                        {% endif %}
                        <p>Encargado: {{ historia.usuarioAsignado.get_full_name }}</p>
                        {% if historia.etapa %}
                            <p>Etapa: {{ historia.etapa }}</p>
                        {% else %}
                            <p>Planificado</p>
                        {% endif %}
                        <p>
                            {% if historia.comentarios.count > 0 %}
                                {{ historia.comentarios.count}} comentarios
                            {% else %}
                                No hay comentarios
                            {% endif %}
                        </p>
                        <p>
                            {% if historia.archivos.count > 0 %}
                                {{ historia.archivos.count}} archivos
                            {% else %}
                                No hay archivos
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    <!-- End Modal -->
    {% endfor %}
</div>
{% endblock %}
