{% extends "base.html" %}
{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col-lg-10 mx-auto mb-4">
            <div class="section-title text-center ">
                <h1 class="top-c-sep">Manejo Historias de Usuario</h1>
                <h2>{{ historia.nombre }}</h2>
                <h4>Usuarios Disponibles:</h2>
                <div class="job-box d-md-flex align-items-center justify-content-center">
                    <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="usr"></label>
                                <select name="usuarios" id="usr" size="4">
                                    {% for usuario in usuarios %}
                                    <option>{{ usuario.email }}</option>
                                    {% endfor %}
                                </select>
                                <br>
                                <input type="submit" value="Asignar" name="asignar" class="btn btn-light" />
                                <input type="submit" value="Remover" name="remover"class="btn btn-light" />
                                <br><br><br><input type="submit" value="Siguiente Etapa" name="mover"class="btn btn-light" />
                                
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <a href="{% url 'ver_historias_usuario' proyecto.id %}" class="btn btn-light">Volver a <b>Historias de Usuario</b></a>
    </div>
</div>
{% endblock %}