{% extends "base.html" %}
{% block title %}Historial US{% endblock %}
{% block contenido %}
{% load gpa_tags %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Historial de '{{ version_ori.nombre }}'</h3>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Fecha modificación</th>
                    <th>Nombre</th>
                    <th>Etapa</th>
                    <th>User Points</th>
                    <th>Business Value</th>
                    <th>Usuario</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for historia in versiones %}
                <tr>
                    <th>{{ historia.fecha_creacion|date:'Y-m-d H:i:s' }}</th>
                    <td>{{ historia.nombre }}</td>
                    {% if historia.etapa %}
                        <td>{{ historia.etapa }}</td>
                    {% else %}
                        <td>Planificado</td>
                    {% endif %}
                    <td>{{ historia.up }}</td>
                    <td>{{ historia.bv }}</td>
                    <td>{{ historia.usuarioAsignado.get_full_name }}</td>
                    <td>
                        <button type="button" class="btn btn-link" data-bs-toggle="modal"
                            data-bs-target="#modalVer{{ historia.id }}"><span 
                            class="material-icons" data-toggle="tooltip" data-placement="top" title="Ver detalles">info</span>
                        </button>

                        {% tiene_rol_en_proyecto user 'Scrum Master' proyecto as master %}
                        {% if version_ori.estado == version_ori.Estado.ACTIVO %}
                            {% if master or version_ori.usuarioAsignado == user %}
                                <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#modal{{ historia.id }}">
                                    <span class="material-icons" data-toggle="tooltip" data-placement="top" title="Restaurar">history</span></button>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-12">
                <a href="{{ volver_a }}" class="btn btn-secondary">Volver</a>
            </div>
        </div>
    </div>
    {% for historia in versiones %}
        <!-- Modal -->
        <div class="modal fade" id="modal{{ historia.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Restaurar versión</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>¿Seguro que desea restaurar la historia '{{ historia.nombre }}' a la versión del {{ historia.fecha_creacion|date:'Y-m-d H:i:s' }}?</p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abortar</button>
                <form method="post" action="{% url 'restaurar_historia_historial' proyecto.id version_ori.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="version" value="{{ historia.id }}">
                    <input type="submit" class="btn btn-danger" value="Restaurar">
                </form>
                
                </div>
            </div>
            </div>
        </div>
        
        {% include "modals/modalUSInfo.html" with historia=historia %}
    {% endfor %}
</div>
{% endblock %}
