{% extends "base.html" %}
{% block contenido %}
{% load gpa_tags %}

<!-- Redirigir a home si no tiene los permisos para ver esta pantalla -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Proyectos</h1>
        </div>
        <div>
            {% tiene_permiso_en_sistema user 'sys_crearproyectos' as sys_crearproyectos %}
            {% if sys_crearproyectos %}
            <a href="{% url 'crear_proyecto' %}" class="btn btn-primary">Crear proyecto</a>
            {% endif %}
            <a href="{% url 'home' %}" class="btn btn-secondary">Volver al inicio</a>
        </div>
    </div>
    <div class="row">
        <!-- Traemos en una tabla los proyectos -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Fecha de creación</th>
                    <th>Estado</th>
                    <th>Scrum Master</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for proyecto in proyectos %}
                <tr>
                    <td>{{ proyecto.nombre }}</td>
                    <td>{{ proyecto.fecha_creacion|date:"Y/m/d" }}</td>
                    <td>{{ proyecto.estado }}</td>
                    <td>{{ proyecto.scrumMaster.get_full_name }} ({{ proyecto.scrumMaster.email }})</td>
                    <td>
                        {% es_miembro user proyecto as es_miembro %}
                        {% if es_miembro %}
                        <a href="{% url 'proyecto_home' proyecto.id %}" class="btn btn-link"><span
                            class="material-icons" data-toggle="tooltip" data-placement="top" title="Ver proyecto">visibility</span></a>
                        {% endif %}
                        {% tiene_permiso_en_proyecto user 'pro_cambiarEstadoProyecto' proyecto as pro_cambiarEstadoProyecto %}
                        {% if proyecto.estado != 'Cancelado' %}
                            {% if pro_cambiarEstadoProyecto %}
                                {% tiene_permiso_en_proyecto user 'pro_cambiarEstadoProyecto' proyecto as pro_cambiarEstadoProyecto %}
                                {% if pro_cambiarEstadoProyecto %}
                                <a href="{% url 'editar_proyecto' proyecto.id %}" class="btn btn-link"><span
                                        class="material-icons" data-toggle="tooltip" data-placement="top" title="Configuración de proyecto">build</span></a>
                                <a href="{% url 'cancelar_proyecto' proyecto.id %}" class="btn btn-link"><span
                                        class="material-icons" data-toggle="tooltip" data-placement="top" title="Cancelar proyecto">cancel</span></a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}