{% extends "base.html" %}
{% block contenido %}
{% load tiene_rol_en %}

<!-- Redirigir a home si no tiene los permisos para ver esta pantalla -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Proyectos</h1>
        </div>
        <div>
            {% tiene_permiso_en_sistema user 'sys_crearproyectos' as sys_crearproyectos %}
            {% if sys_crearproyectos %}
            <a href="{% url 'crear_proyecto' %}" class="btn btn-primary">Crear proyecto</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <!-- Traemos en una tabla los proyectos -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Fecha de creacion</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for proyecto in proyectos %}
                <tr>
                    <td>{{ proyecto.nombre }}</td>
                    <td>{{ proyecto.descripcion }}</td>
                    <td>{{ proyecto.fecha_creacion }}</td>
                    <td>{{ proyecto.estado }}</td>
                    <td>
                        {% tiene_permiso_en_sistema user 'sys_crearproyectos' as sys_crearproyectos %}
                        {% tiene_permiso_en_proyecto user 'pro_cambiarEstadoProyecto' proyecto as pro_cambiarEstadoProyecto %}
                        {% if proyecto.estado != 'Cancelado' %}
                            {% if sys_crearproyectos or pro_cambiarEstadoProyecto %}
                                <a href="{% url 'rol_proyecto_asignado' proyecto.id %}" class="btn btn-link"><span
                                    class="material-icons">visibility</span></a>
                                {% tiene_permiso_en_proyecto user 'pro_cambiarEstadoProyecto' proyecto as pro_cambiarEstadoProyecto %}
                                {% if pro_cambiarEstadoProyecto %}
                                <a href="{% url 'editar_proyecto' proyecto.id %}" class="btn btn-link"><span
                                        class="material-icons">create</span></a>
                                <a href="{% url 'cancelar_proyecto' proyecto.id %}" class="btn btn-link"><span
                                        class="material-icons">cancel</span></a>
                                {% endif %}
                            {% endif %}
                        {% else %}
                        <a class="btn btn-link"><span
                            class="material-icons"></span></a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
    </div>
</div>
{% endblock %}