{% extends "base.html" %}
{% block contenido %}

<!-- Formulario para crear proyectos Django forms -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Crear proyecto</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="." method="POST">
                {% csrf_token %}
                {{ form.as_div }}

                <!--TODO Aqui habra formulario para importar roles de otros proyectos y crear roles para proyectos -->

                
                <br>
                <button type="submit" class="btn btn-primary">Crear proyecto</button>
                <a href="{% url 'proyectos' %}" class="btn btn-danger">Cancelar</a>
            </form>
        </div>
    </div>

{% endblock %}