{% extends "base.html" %}
{% block contenido %}
{% load tiene_rol_en %}
<div class="d-flex align-items-center justify-content-center h-75 d-inline-block">
    <div class="box text-center">
        <h1>{{ proyecto.nombre }}</h1>
        <a href="{% url 'vista_equipo' proyecto.id %}" class="btn-primary btn-lg ms-3">
            <span class="material-icons  align-text-bottom">
                groups
            </span>
            Miembros
        </a>
        {% tiene_permiso_en_proyecto user 'pro_crearRolProyecto' proyecto as pro_crearRolProyecto %}
        {% tiene_permiso_en_proyecto user 'pro_editarRolProyecto' proyecto as pro_editarRolProyecto %}
        {% tiene_permiso_en_proyecto user 'pro_importarRolProyecto' proyecto as pro_importarRolProyecto %}
        {% if pro_crearRolProyecto or pro_editarRolProyecto or pro_importarRolProyecto %}
        <a href="{% url 'rol_proyecto_asignado' proyecto.id %}" class="btn-primary btn-lg ms-3">
            <span class="material-icons  align-text-bottom">
                manage_accounts
            </span>
            Roles
        </a>
        {% endif %}
        {% tiene_permiso_en_proyecto user 'pro_crearTipoUS' proyecto as pro_crearTipoUS %}
        {% tiene_permiso_en_proyecto user 'pro_eliminarTipoUS' proyecto as pro_eliminarTipoUS %}
        {% if pro_crearTipoUS or pro_eliminarTipoUS %}
        <a href="{% url 'tiposHistoriaUsuario' proyecto.id %}" class="btn-primary btn-lg ms-3">
            <span class="material-icons  align-text-bottom">
                checklist
            </span>
            Tipos US
        </a>
        {% endif %}
        <a href="{% url 'historiaUsuario' proyecto.id %}" class="btn-primary btn-lg ms-3">
            <span class="material-icons  align-text-bottom">
                production_quantity_limits
            </span>
            Product Backlog
        </a>
    </div>
</div>
{% endblock %}