{% extends "base.html" %}
{% block title %}Proyecto {{ proyecto.nombre }}{% endblock %}
{% block contenido %}
{% load gpa_tags %}
<div class="d-flex mt-4 justify-content-center d-inline-block">
    <div class="box">
        <br>
        <h2 class="text-center">{{ proyecto.nombre }}</h2>
        <h3 class="text-center">{{ proyecto.descripcion }}</h3>
        <hr>
        <p>El Scrum Master es: <b>{{ proyecto.scrumMaster.get_full_name }}</b> (<a href="mailto:{{proyecto.scrumMaster.email}}">{{proyecto.scrumMaster.email}}</a>)</p>
        <p>Usted posee los siguente roles en este proyecto: </p>
        {% obtener_rol_en_proyecto user proyecto.id as rolesActual %}
        {% for r in rolesActual %}
            <p>&nbsp;&nbsp; - {{ r.nombre }}</p>
        {% endfor %}
        <hr>
        <h5 class="text-center">Menu</h5>
        <br>
        {% tiene_permiso_en_proyecto user 'pro_cambiarEstadoProyecto' proyecto as pro_cambiarEstadoProyecto %}
        {% if pro_cambiarEstadoProyecto %}
        <a href="{% url 'editar_proyecto' proyecto.id %}" class="btn-primary btn-lg ms-3 text-decoration-none">
            <span class="material-icons  align-text-bottom">
                build
            </span>
            Configuración
        </a>
        {% endif %}
        <a href="{% url 'vista_equipo' proyecto.id %}" class="btn-primary btn-lg ms-3 text-decoration-none">
            <span class="material-icons  align-text-bottom">
                groups
            </span>
            Miembros
        </a>
        {% tiene_permiso_en_proyecto user 'pro_crearRolProyecto' proyecto as pro_crearRolProyecto %}
        {% tiene_permiso_en_proyecto user 'pro_editarRolProyecto' proyecto as pro_editarRolProyecto %}
        {% tiene_permiso_en_proyecto user 'pro_importarRolProyecto' proyecto as pro_importarRolProyecto %}
        {% if pro_crearRolProyecto or pro_editarRolProyecto or pro_importarRolProyecto %}
        <a href="{% url 'roles_de_proyecto' proyecto.id %}" class="btn-primary btn-lg ms-3 text-decoration-none">
            <span class="material-icons  align-text-bottom">
                manage_accounts
            </span>
            Roles
        </a>
        {% endif %}
        {% tiene_permiso_en_proyecto user 'pro_crearTipoUS' proyecto as pro_crearTipoUS %}
        {% tiene_permiso_en_proyecto user 'pro_eliminarTipoUS' proyecto as pro_eliminarTipoUS %}
        {% if pro_crearTipoUS or pro_eliminarTipoUS %}
        <a href="{% url 'tiposHistoriaUsuario' proyecto.id %}" class="btn-primary btn-lg ms-3 text-decoration-none">
            <span class="material-icons  align-text-bottom">
                checklist
            </span>
            Tipos US
        </a>
        {% endif %}
        <a href="{% url 'historiaUsuarioBacklog' proyecto.id %}" class="btn-primary btn-lg ms-3 text-decoration-none">
            <span class="material-icons  align-text-bottom">
                production_quantity_limits
            </span>
            Product Backlog
        </a>
        {% tiene_rol_en_proyecto user 'Scrum Master' proyecto as main %}
        {% if main %}
        <a href="{% url 'sprint_list' proyecto.id %}" class="btn-primary btn-lg ms-3 text-decoration-none">
            <span class="material-icons  align-text-bottom">
                list
            </span>
            Sprints
        </a>
        {% endif %}
    </div>
</div>
{% endblock %}