{% extends "base.html" %}
{% block contenido %}

<!-- Redirigir a home si no tiene los permisos para ver esta pantalla -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Roles de Proyecto</h1>
            </div>
            <div>
                <a href="{% url 'crear_rol_proyecto' %}" class="btn btn-primary">Crear rol de proyecto</a>     
            </div>
        </div>
        <div class="row">
            <!-- Traemos en una tabla los proyectos -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rol_proyecto in roles_proyecto %}
                        <tr>
                            <th>{{ rol_proyecto.id }}</th>
                            <td>{{ rol_proyecto.nombre }}</td>
                            <td>
                                <a href="{% url 'modificar_rol_proyecto' rol_proyecto.id %}" class="btn btn-link"><span class="material-icons">create</span></a>
                                <a href="#" class="btn btn-link"><span class="material-icons">cancel</span></a>
                                <a href="{% url 'ver_rol_proyecto' rol_proyecto.id %}" class="btn btn-link"><span class="material-icons">visibility</span></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
        </div>
    </div>

    
    
{% endblock %}