{% extends "base.html" %}
{% block title %}Roles de proyecto{% endblock %}
{% block contenido %}
{% load gpa_tags %}

<!-- Redirigir a home si no tiene los permisos para ver esta pantalla -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Roles de Proyecto</h1>
        </div>
        <div>
            {% if proyecto %}
                {% tiene_permiso_en_proyecto user 'pro_crearRolProyecto' proyecto as pro_crearRolProyecto %}
                {% if pro_crearRolProyecto %}
                    <a href="{% url 'crear_rol_a_proyecto' proyecto.id %}" class="btn btn-primary">Crear rol de proyecto</a>
                {% endif %}
                {% tiene_permiso_en_proyecto user 'pro_importarRol' proyecto as pro_importarRol %}
                {% if pro_importarRol %}
                    <a href="{% url 'importar_rol' proyecto.id %}" class="btn btn-primary">Importar de otros proyectos </a>
                {% endif %}
            {% endif %}
            <a href="{% url 'proyecto_home' proyecto.id %}" class="btn btn-secondary">Volver al menu del proyecto</a>
        </div>
    </div>
    <div class="row">
        <!-- Traemos en una tabla los proyectos -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for rol_proyecto in roles_proyecto %}
                {% if proyecto.id %}
                {% if rol_proyecto.proyecto %}
                <tr>
                    <td>{{ rol_proyecto.nombre }}</td>
                    <td>{{ rol_proyecto.descripcion }}</td>
                    <td>
                        <a href="{% url 'ver_rol_proyecto' proyecto.id rol_proyecto.id %}" class="btn btn-link"><span
                            class="material-icons" data-toggle="tooltip" data-placement="top" title="Ver rol de proyecto">visibility</span></a>
                        {% tiene_permiso_en_proyecto user 'pro_editarRolProyecto' proyecto as pro_editarRolProyecto %}
                        {% if pro_editarRolProyecto %}
                        <a href="{% url 'modificar_rol_proyecto' proyecto.id rol_proyecto.id %}" class="btn btn-link"><span
                                class="material-icons" data-toggle="tooltip" data-placement="top" title="Modificar rol de proyecto">create</span></a>
                        {% if not rol_proyecto.nombre == 'Scrum Master' %}
                        <a href="{% url 'eliminar_rol_proyecto' proyecto.id rol_proyecto.id %}" class="btn btn-link"><span
                                class="material-icons" data-toggle="tooltip" data-placement="top" title="Eliminar rol de proyecto">cancel</span></a>
                        {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
                {% endif %}
                {% endfor %}
            </tbody>
    </div>
</div>

{% endblock %}