{% extends "base.html" %}
{% block title %}Roles de proyecto{% endblock %}
{% block contenido %}
{% load gpa_tags %}

<!-- Redirigir a home si no tiene los permisos para ver esta pantalla -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Roles de Proyecto</h1>
        </div>
        <div>
            {% if proyecto %}
                {% tiene_permiso_en_proyecto user 'pro_crearRolProyecto' proyecto as pro_crearRolProyecto %}
                {% if pro_crearRolProyecto and proyecto.estado != 'Cancelado' and proyecto.estado != 'Finalizado' %}
                    <a href="{% url 'crear_rol_a_proyecto' proyecto.id %}" class="btn btn-primary">Crear rol de proyecto</a>
                {% endif %}
                {% tiene_permiso_en_proyecto user 'pro_importarRol' proyecto as pro_importarRol %}
                {% if pro_importarRol and proyecto.estado != 'Cancelado' and proyecto.estado != 'Finalizado' %}
                    <a href="{% url 'importar_rol' proyecto.id %}" class="btn btn-primary">Importar de otros proyectos </a>
                {% endif %}
            {% endif %}
            <a href="{% url 'proyecto_home' proyecto.id %}" class="btn btn-secondary">Volver al menu del proyecto</a>
        </div>
    </div>
    <div class="row">
        <!-- Traemos en una tabla los proyectos -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for rol_proyecto in roles_proyecto %}
                {% if proyecto.id %}
                {% if rol_proyecto.proyecto %}
                <tr>
                    <td>{{ rol_proyecto.nombre }}</td>
                    <td>{{ rol_proyecto.descripcion }}</td>
                    <td>
                        <a class="btn btn-link" href="#modalDetalles{{ rol_proyecto.id }}" data-bs-toggle="modal" data-bs-target="#modalDetalles{{ rol_proyecto.id }}"><span
                            class="material-icons" data-toggle="tooltip" data-placement="top" title="Ver detalles">info</span></a>
                        {% tiene_permiso_en_proyecto user 'pro_editarRolProyecto' proyecto as pro_editarRolProyecto %}
                        {% if pro_editarRolProyecto and proyecto.estado != 'Cancelado' and proyecto.estado != 'Finalizado' %}
                        <a href="{% url 'modificar_rol_proyecto' proyecto.id rol_proyecto.id %}" class="btn btn-link"><span
                            class="material-icons" data-toggle="tooltip" data-placement="top" title="Modificar rol de proyecto">create</span></a>
                        {% if not rol_proyecto.nombre == 'Scrum Master' and not rol_proyecto.nombre == 'Member' and rol_proyecto.usuario.count == 0 %}
                        <a class="btn btn-link" data-bs-toggle="modal" data-bs-target="#modalEliminar{{ rol_proyecto.id }}"><span 
                            class="material-icons" data-toggle="tooltip" data-placement="top" title="Eliminar rol de proyecto">
                            delete</span></a>
                        {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
                {% endif %}
                {% endfor %}
            </tbody>
    </div>
</div>
{% tiene_permiso_en_proyecto user 'pro_editarRolProyecto' proyecto as pro_editarRolProyecto %}
{% if pro_editarRolProyecto %}
{% for rol_proyecto in roles_proyecto %}
<!-- Modal -->
<div class="modal fade" id="modalEliminar{{rol_proyecto.id}}" tabindex="-1" aria-labelledby="cancelarModal" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="cancelarModal">Eliminar rol de proyecto '{{ rol_proyecto.nombre }}'</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Esta a punto de eliminar el rol de proyecto '{{ rol_proyecto.nombre }}', ¿quiere continuar?</p>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abortar</button>
        <form method="post" action="{% url 'eliminar_rol_proyecto' proyecto.id rol_proyecto.id %}">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="Eliminar rol">
            <input type="hidden" name="url" value="{{ request.path }}">
        </form>
        </div>
    </div>
    </div>
</div>
{% endfor %}
{% endif %}

{% for rol_proyecto in roles_proyecto %}
<!-- Modal -->
<div class="modal fade" id="modalDetalles{{rol_proyecto.id}}" tabindex="-1" aria-labelledby="modalDetalles" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Detalles de '{{rol_proyecto.nombre}}'</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>{{rol_proyecto.descripcion}}</h6>
                <div class="row">
                    <div class="col-md-12 mx-4">
                        {% for permiso in rol_proyecto.permisos.all %}
                            <li>{{ permiso.descripcion }}</li>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
