#!/bin/bash

# Configuracion de Django
export SECRET_KEY=""
export DEBUG=0
export DJANGO_ALLOWED_HOSTS=""

# Configuracion de DB
export POSTGRES_NAME=""
export POSTGRES_USER=""
export POSTGRES_PASSWORD=""
export POSTGRES_HOST=""
export POSTGRES_PORT=""
export GITHUB_SECRET=""
export GITHUB_CLIENT_ID=""
