{% extends "base.html" %}
{% block title %}Gestion de miembros de {{ proyecto.nombre }}{% endblock %}
{% block contenido %}
{% load gpa_tags %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Miembros de '{{ proyecto.nombre }}'</h1>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-6">
            {% if mensaje %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <h6>{{ mensaje }}</h6>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% tiene_permiso_en_proyecto user 'pro_asignarMiembros' proyecto as pro_asignarMiembros %}
            {% if pro_asignarMiembros %}
                <form action="{% url 'vista_equipo' proyecto.id %}" method="POST">
                    {% csrf_token %}
                    <input name="proyecto" id="proyecto" hidden value="{{ proyecto.id }}">
                    <input name="hidden_action" id="hidden_action" hidden value="agregar_miembro_proyecto">
                    <label for="usuario_a_agregar" class="align-middle">EMAIL:</label>&nbsp<input class="align-middle" type="text" name="usuario_a_agregar"
                        id="usuario_a_agregar" required="">
                    <select name="roles_agregar" id="roles_agregar" class="align-middle">
                        {% for rol in proyecto.roles.all %}
                        {% if rol.nombre != "Scrum Master" %}
                        <option value="{{ rol.id }}" name="rol" id="rol">{{ rol.nombre }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-primary">Agregar usuario al proyecto</button>
                    <a href="{% url 'proyecto_home' proyecto.id %}" class="btn btn-secondary">Volver al menu del proyecto</a>
                </form>
            {% else %}
                <a href="{% url 'proyecto_home' proyecto.id %}" class="btn btn-secondary">Volver al menu del proyecto</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <!-- Traemos en una tabla los proyectos -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for miembros in proyecto.usuario.all %}
                <tr>
                    {% if miembros.get_full_name == '' %}
                        <td>{{ miembros.email }}</td>
                    {% else %}
                        <td>{{ miembros.get_full_name }} ({{ miembros.email }})</td>
                    {% endif %}
                    <td>
                        <a class="btn btn-link" data-bs-toggle="modal" data-bs-target="#roles{{ miembros.id }}"><span 
                            class="material-icons" data-toggle="tooltip" data-placement="top" title="Ver roles">
                            manage_accounts</span></a>
                        {% tiene_permiso_en_proyecto user 'pro_eliminarMiembros' proyecto as pro_eliminarMiembros %}
                        {% if pro_eliminarMiembros %}
                        {% if user != miembros %}
                                <a class="btn btn-link" data-bs-toggle="modal" data-bs-target="#modalEliminar{{ miembros.id }}"><span 
                                class="material-icons" data-toggle="tooltip" data-placement="top" title="Eliminar del proyecto">
                                cancel</span></a>
                                {% endif %}
                        {% endif %}
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% for miembros in proyecto.usuario.all %}
    <div class="modal fade" id="modalEliminar{{miembros.id}}" tabindex="-1" aria-labelledby="cancelarModal" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="cancelarModal">Eliminar miembro '{{ miembros.get_full_name }}'</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Esta a punto de eliminar el miembro '{{ miembros.get_full_name}} del proyecto '{{ proyecto.nombre }}', ¿quiere continuar?</p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abortar</button>
            <form action="{% url 'vista_equipo' proyecto.id %}" method="POST">
                {% csrf_token %}
                <input name="hidden_action" id="hidden_action" hidden value="eliminar_miembro_proyecto">
                <input name="usuario_a_eliminar" id="usuario_a_eliminar" hidden value="{{ miembros.email }}">
                <input name="proyecto" id="proyecto" hidden value="{{ proyecto.id }}">
                {% if user != miembros %}
                <button type="submit" class="btn btn-danger">Eliminar Usuario</button>
                {% endif %}
            </form>
            </div>
        </div>
        </div>
    </div>

    <div class="modal fade" id="roles{{miembros.id}}" tabindex="-1" aria-labelledby="cancelarModal" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h5 class="modal-title" id="cancelarModal">Roles de '{{ miembros.get_full_name }}'</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                
            </div>
            <div class="modal-body">
                
                {% obtener_rol_en_proyecto miembros proyecto.id as rolesActual %}

                {% for r in rolesActual %}
                <div class="row mt-2">
                    <div class="col-5 ">
                        <p> - {{ r.nombre }}</p>
                    </div>
                    {% tiene_permiso_en_proyecto user 'pro_editarRolProyecto' proyecto as pro_editarRolProyecto %}
                    {% if pro_editarRolProyecto %}
                    <div class="col-6">
                        <form action="{% url 'vista_equipo' proyecto.id %}" method="POST">
                            {% csrf_token %}
                            <input name="hidden_action" id="hidden_action" hidden value="eliminar_rol_proyecto">
                            <input name="usuario_a_sacar_rol" id="usuario_a_sacar_rol" hidden value="{{ miembros.email }}">
                            <input name="proyecto" id="proyecto" hidden value="{{ proyecto.id }}">
                            <input name="rol_id" id="rol_id" hidden value="{{ r.id }}">
                            {% if not miembros == user or not r.nombre == "Scrum Master" or not r.nombre == "Member"%}
                                <button type="submit" class="btn btn-secondary">Desasignar rol</button>
                            {% endif %}
                        </form>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            
                {% tiene_todos_los_roles miembros proyecto as tiene_todo %}
                {% if tiene_todo %}
                <div class="row mt-2">
                    {% tiene_permiso_en_proyecto user 'pro_asignarRolProyecto' proyecto as pro_asignarRolProyecto %}
                    {% if pro_asignarRolProyecto %}
                    <div class="col-5">
                        <form action="{% url 'vista_equipo' proyecto.id %}" method="POST">

                            {% csrf_token %}
                            <input name="hidden_action" id="hidden_action" hidden value="asignar_rol_proyecto">
                            <input name="usuario_a_cambiar_rol" id="usuario_a_cambiar_rol" hidden value="{{ miembros.email }}">
                            <input name="proyecto" id="proyecto" hidden value="{{ proyecto.id }}">

                            <select name="roles{{ miembros.email }}" id="roles{{ miembros.email }}">
                                {% for rol in proyecto.roles.all %}
                                {% if not rol in rolesActual and rol.nombre != "Scrum Master"%}
                                <option value="{{ rol.id }}" name="rol{{ rol.id }}" id="rol{{ rol.id }}">{{ rol.nombre }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary">Asignar Rol</button>
                    </div>
                    </form>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div> 
        </div> 
    </div>
    {% endfor %}
</div>
{% endblock %}