{% extends "base.html" %}
{% block title %}Crear tipo de historia de usuario{% endblock %}
{% block contenido %}
<div class="row">
    <div class="col-lg-2 col-md-1">
    </div>
    <div class="col-lg-8 col-md-10">
        <h3>Nuevo tipo de historia de usuario</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.non_form_errors }}
            {{ form.as_p }}
            {{ historiaformset.management_form }}
            <br>
            <u>Etapas:</u>
            <div id="etapas" class="mx-auto" align="center">
                <div id="form_set">
                    {% for form in historiaformset.forms %}
                    <br>
                    <table class='no_error'>
                        {{ form.as_table }}
                    </table>
                    {% endfor %}
                </div>
                <button class="btn-dark  mt-3" id="add_more" type="button">
                    <span class="material-icons">
                        add
                    </span>
                </button>
                <br>
                <div id="empty_form" style="display:none">
                    <table class='no_error'>
                        {{ historiaformset.empty_form.as_table }}
                        <br>
                    </table>
                </div>
                <br>
            </div>
            <input type="submit" class="btn btn-primary px-4 mt-3" value="Guardar">
        </form>
        <script>
            $('#add_more').click(function () {
                var form_idx = $('#id_etapas-TOTAL_FORMS').val();
                $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
                $('#id_etapas-TOTAL_FORMS').val(parseInt(form_idx) + 1);
            });
        </script>
    </div>
</div>
{% endblock %}