{% extends "base.html" %}
{% block title %}Crear rol global{% endblock %}
{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col-lg-10 mx-auto mb-4">
            <div class="section-title text-center ">
                <h1 class="top-c-sep">Crear Rol Global</h1>
                <div class="job-box d-md-flex align-items-center justify-content-center">
                    <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" class="btn btn-light" value="Enviar"></button>
                        </form>
                    </div>
                </div>
            </div>
            <a href="{% url 'rol_global_list' %}" class="btn btn-light">Volver a <b>Roles Globales</b></a>
        </div>
    </div>
</div>
{% endblock %}