{% extends "base.html" %}
{% block contenido %}
{% load tiene_rol_en %}
<div class="container">
    {% tiene_permiso_en_sistema user 'sys_crearrolsistema' as sys_crearrolsistema %}
    {% if sys_crearrolsistema %}
    <div class="row">
        <div class="col-lg-10 mx-auto mb-4">
            <div class="section-title text-center ">
                <h1 class="top-c-sep">Roles Globales</h1>
                <div class="job-box d-md-flex align-items-center justify-content-between">
                    <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
                        <div class="">
                            <h5 class="text-center text-md-left">Crear Rol Global</h5>
                            <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                            </ul>
                        </div>
                    </div>
                    <div class="job-right my-4 flex-shrink-0">
                        <a href="{% url 'rol_global_crear' %}"
                            class="btn d-block w-100 d-sm-inline-block btn-light">Crear</a>
                    </div>
                </div>
                <h3 class="top-c-sep">Lista de Roles Globales</h3>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-lg-10 mx-auto">
            <p class="mb-30 ff-montserrat">Cantidad de Roles: {{ roles|length }}</p>
            {% for rol in roles %}
            <div class="d-flex bd-highlight mb-3 align-items-center">
                <div class="me-auto p-2 bd-highlight text-center">
                    <h5 class="rolEncontrado">{{ rol.nombre }}</h5>
                </div>
                <div class="p-2 bd-highlight">
                    <button type="button" class="btn btn-light" data-bs-toggle="modal"
                        data-bs-target="#modalVer{{ rol.id }}">
                        Ver
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="modalVer{{ rol.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Descripción</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h2 style="margin-bottom: 25px;">{{ rol.nombre }}</h2>
                                    <p>{{ rol.descripcion }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Modal -->
                </div>
                {% tiene_permiso_en_sistema user 'sys_crearrolsistema' as sys_crearrolsistema %}
                {% if sys_crearrolsistema %}
                <div class="p-2 bd-highlight">
                    <a href="{% url 'rol_global_editar' rol.id %}"
                        class="btn d-block w-100 d-sm-inline-block btn-light">Editar</a>
                </div>
                <div class="p-2 bd-highlight">
                    <button type="button" class="btn btn-light" data-bs-toggle="modal"
                        data-bs-target="#modalEliminar{{ rol.id }}">
                        Eliminar
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="modalEliminar{{ rol.id }}" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ¿Está seguro que desea eliminar <b>{{ rol.nombre }}</b>?
                                </div>
                                <div class="modal-footer">
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cancelar</button>
                                        <input type="hidden" name="accion" value="eliminar">
                                        <button type="submit" class="btn btn-primary" name="nombre"
                                            value="{{ rol.nombre }}">Aceptar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Modal -->
                </div>
                <div class="p-2 bd-highlight">
                    <a href="{% url 'rol_global_usuarios' rol.id %}"
                        class="btn d-block w-100 d-sm-inline-block btn-light">Usuarios</a>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}