{% load has_group %}
<nav class="navbar navbar-dark navbar-expand-lg bg-primary text-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">GPA G17</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div>
      {% if user.is_authenticated %}
      <p>Bienvenido {{ user.username }}</p>
      {% if user|has_group:"gpa_admin" %}
      moderator
      {% endif %}
      {% endif %}
    </div>
  </div>
</nav>